<h3>Consumption</h3>

<label>
  From
  <input type="datetime-local" [(ngModel)]="from" (change)="loadReadings()" />
</label>

<label>
  To
  <input type="datetime-local" [(ngModel)]="to" (change)="loadReadings()" />
</label>

<label>
  Interval
  <select [(ngModel)]="interval" (change)="loadReadings()">
    <option value="5 seconds">5 seconds</option>
    <option value="1 minute">1 minute</option>
    <option value="15 minutes">15 minutes</option>
    <option value="1 hour">1 hour</option>
    <option value="1 day">1 day</option>
  </select>
</label>

@if (loading) {
  <p>Loading readings...</p>
}

@if (error) {
  <p>{{ error }}</p>
}

<apx-chart
  [series]="series"
  [chart]="chart"
  [xaxis]="xaxis"
  [yaxis]="yaxis"
  [tooltip]="tooltip"
  [noData]="noData"
/>
